<div class="container row">
    <div class="col-3"></div>
    <form class="col-6">
        <h4>在修改密码前我们需要验证您的邮箱是否可用以及是否由您本人操作</h4>
        <div class="form-group row">
            <label for="inputEmail3" class="col-3 col-form-label">Email</label>
            <div class="col-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group text-right">
            <input type="text" name="name" value="" placeholder="code" />
            <button>发送验证码</button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary float-left ml-2">进入</button>
            <button class="btn btn-primary float-lg-right">back</button>
        </div>
    </form>
    <div class="col-3"></div>
</div>
