<!doctype html>
<html lang="zh-cn">
<head>
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Global.css" rel="stylesheet" />
    @RenderSection("csses", false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">Heyday</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-dark" data-toggle="modal" data-target="#LoginModal">登录</a>
                </li>
                <li class="nav-item">
                    <a href="/Account/Register" class="btn btn-dark">注册</a>
                    @* 这个下次更 *@
                    @*<a class="btn btn-dark" data-toggle="modal" data-target="#RegisterModal">注册</a>*@
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginModalLabel">登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin" method="post">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">邮箱地址</label>
                        <div class="col-9">
                            <input type="email" id="Login-EmailAddress" class="form-control" placeholder="Email address" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">密码</label>
                        <div class="col-9">
                            <input type="password" id="Login-Password"  class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group checkbox mb-3">
                        <label class="float-left">
                            <input type="checkbox" id="rmbMe"> 记住我
                        </label>
                        <a class="float-right" href="/Account/EmailValidation">忘记密码</a>
                    </div>
                    <div class="form-group text-center">
                        <span class="text-danger" id="validation"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary btn-block" id="LoginBtn" type="button">登录</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegisterModal" tabindex="-2" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel">注册</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">邮箱地址</label>
                        <div class="col-9">
                            <input type="email" id="email" class="form-control" placeholder="Email">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">用户名</label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Name">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">密码</label>
                        <div class="col-9">
                            <input type="password" class="form-control" placeholder="Password">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <span id="1min"></span>
                        <input type="text" placeholder="code" />
                        <button type="button" id="sendmail">发送验证码</button>
                    </div>
                    <spa class="text-danger"></spa>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </div>
        </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    @RenderSection("scripts", false)
    <script>
        $(function () {
            $('#LoginBtn').click(function () {
                var email = $('#Login-EmailAddress').val();
                var pwd = $('#Login-Password').val();
                var isChecked = $('#rmbMe').prop('checked');
                //console.log(email, pwd);
                //console.log(isChecked);
                $.post("/Account/NewLogin",
                    {
                        Email: email,
                        Password: pwd,
                        Remember: isChecked
                    },
                    function (data, status) {
                        if (status == 'success') {
                            //console.log(data['role']);
                            var error = data['error'];
                            if (error == 'None') {
                                window.location.replace("/Home/AccountIndex");
                            }
                            else {
                                console.log(error);
                                $('#validation').get(0).innerHTML = error;
                            }
                        }
                    }
                )
            })
        })

        $(function () {
            $('#LoginModal').keydown(function (event) {
                if (event.which == 13) {
                    $('#LoginBtn').trigger('click');
                }
            })
        })
    </script>
</body>
</html>

