@*@section scripts{
    <script src="~/lib/marked/marked.min.js"></script>
    <script>
        $("body").removeClass("text-center");
        $.get("/Article/Getmd", function (data, status) {
            if (status == "success") {
                $('#content').get(0).innerHTML = marked(data);
            }
        });
    </script>
}*@

<div class="container">
    <div class="row nav flex-column justify-content-center" style="height:600px;">
        <a class="btn btn-dark text-white col-md-3 m-3 nav flex-column justify-content-center" asp-controller="Article" asp-action="Introduction">
                <h1 class="text-center">入门</h1>
        </a>

        <a class="btn btn-dark text-white col-md-3 m-3 nav flex-column justify-content-center" asp-controller="Article" asp-action="Activity">
            <h1 class="text-center">活动</h1>
        </a>

        <a class="btn btn-dark text-white col-md-3 m-3 nav flex-column justify-content-center" asp-controller="Article" asp-action="Others">
            <h1 class="text-center">其他</h1>
        </a>
    </div>
</div>
