body {
    font-size: 12px;
    font-family: tahoma;
}

div#wrap {
    display: table;
    width: 760px;
    height: 400px;
    *position: relative;
    overflow: hidden;
}

div#subwrap {
    vertical-align: middle;
    display: table-cell;
    *position: absolute;
    *top: 50%;
}

div#content {
    *position: relative;
    *top: -50%;
}

