@model IEnumerable<Heyday_Website.Models.Bug>

@section scripts{
    <script>
        window.onload = function () {
            var btns = document.getElementsByClassName('list-group-item');
            for (var i = 0; i < btns.length; i++) {
                var jbtn = $(btns[i]);
                jbtn.click(function () {
                    var id = $(this).find('span.font-weight-bold')[0].innerText;
                    $('#bugId').get(0).value = id;
                    $.getJSON("/Bug/GetTitleDetailAndSolution?bugId=" + id, function (data, status) {
                        if (status == "success") {
                            //alert(data["title"] + "," + data["detail"]  + "," + data["solution"] + "," + data["state"]);
                            $('#title').get(0).value = data["title"];
                            $('#detail').get(0).innerText = data["detail"];
                            $('#solution').get(0).innerText = data["solution"];
                            var state;
                            switch (data["state"]) {
                                case 2: state = "处理中"; break;
                                case 4: state = "已交付"; break;
                                case 5: state = "已解决"; break;
                                default: state = "出了点状况，请找管理员及时修复~"; break;
                            }
                            $('#state').get(0).innerText = state;
                        }
                    })
                })
            };

            $('#submitBtn').click(function () {
                var id = $('#bugId').get(0).value;
                var solution = $('#solution').get(0).value;
                $.get("/Bug/BugSubmit?bugId=" + id + "&solution=" + solution, function (data) {
                    if (data == "OK") {
                        alert('已交付');
                    }
                });
            })

            $('#dltBtn').click(function () {
                var id = $('#bugId').get(0).value;
                var solution = $('#solution').get(0).value;
                $.get("/Bug/ThrowIt?bugId=" + id, function (data) {
                    if (data == "OK") {
                        alert('已抛回');
                    }
                });
            })
        }
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 pre-scrollable" style="height:inherit">
            <div class="list-group">
                @foreach (var bug in Model)
                {
                    <button type="button" class="list-group-item list-group-item-action">
                        #<span class="font-weight-bold">@bug.Id.ToString()</span>
                        @bug.Title
                        @*<div class="float-right">

                            </div>*@
                    </button>
                }
            </div>
        </div>

        <div class="col-9 pl-2">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Bug修复</h5>
                </div>
                <form class="card-body" id="form1" method="post">
                    <div class="form-group">
                        <label>Bug概述</label>
                        <input type="text" class="form-control" id="title" name="bugTitle">
                        <input type="hidden" id="bugId" name="bugId" />
                    </div>
                    <div class="form-group">
                        <label>Bug详细描述</label>
                        <textarea class="form-control" id="detail" rows="3" name="bugDetail"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="submitTime" name="submitTime" value="@DateTime.Now" />
                    </div>
                    <div class="form-group">
                        <label>解决方案</label>
                        <textarea class="form-control" rows="5" id="solution"></textarea>
                    </div>
                    <span id="state"></span>
                    <button type="button" class="btn btn-primary" id="submitBtn">交付</button>
                    <button type="button" class="btn btn-primary" id="dltBtn">抛回</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                已交付
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary">确定 </a>
            </div>
        </div>
    </div>
</div>
