@section csses {
    <link href="~/css/BugTest.css" rel="stylesheet" />
}

<div class="box">
    <ul class="btnContainer">
        <li class="left"><a class="btn btn-success" href="#">新建</a></li>
        <li class="right"> <a class="btn btn-success" href="#">搜索</a></li>
        <li class="right search">
            <div class="btn-group">
                <input type="text" name="searchBug" id="searchBug" value="" />
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split selectBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">只查我的</a>
                    <a class="dropdown-item" href="#">查询所有</a>
                </div>
            </div>
        </li>
    </ul>
    <table class="ListContainer table table-hover">
        <thead>
            <tr>
                <th scope="col">BugID</th>
                <th scope="col">标题</th>
                <th scope="col">提交人</th>
                <th scope="col">状态</th>
                <th scope="col">提交时间</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <th scope="row">@(i)</th>
                    <td>hello</td>
                    <td>hlz2516</td>
                    <td>处理中</td>
                    <td>2020/11/15 14：51</td>
                    <td>
                        <a href="#">查看详细</a>
                        <a href="#">编辑</a>
                        <a href="#">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pageListBtnContainer">
        <a class="btn btn-light pageListBtn" href="#">第一页</a>
        <a class="btn btn-light pageListBtn" href="#">上一页</a>
        <span class="pageListBtn">
            <input class="pageIndex" type="text" name="name" value="" />/XX页
        </span>
        <a class="btn btn-light pageListBtn" href="#">下一页</a>
        <a class="btn btn-light pageListBtn" href="#">最后页</a>
    </div>
</div>